.android-spinner {
  animation: rotate 1.8s linear infinite;
}

.android-spinner circle {
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }

  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}
