@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0 8px;
  margin: 0 auto;
}

@layer base {
  body {
    @apply overflow-hidden bg-black text-white;
  }

  button {
    @apply cursor-pointer;
  }
}
